@model LoginDTO
@{
    ViewData["Title"] = "Login";
    ViewBag.CurrentURL = "~/Account/Login";
}

<div class="text-grey">
    <span>Contacts</span>
    <i class="bi bi-arrow-right-circle"></i>
    <span>Login</span>
</div>
<div class="form-container">
    Not yet registered? <a asp-action="Register" asp-controller="Account" class="link-hover">Register</a>
    <h2 class="text-large">Login</h2>

    <form asp-action="Login" method="post">
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

        @* Email *@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Email" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" class="form-input" />
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
        </div>

        @* Password *@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Password" class="form-label pt">Password</label>
            </div>
            <div class="flex-1">
                <input asp-for="Password" class="form-input" type="password" />
                <span asp-validation-for="Password" class="text-red"></span>
            </div>
        </div>

        @* Remember Me *@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="RememberMe" class="form-label pt">Remember Me</label>
            </div>
            <div class="flex-1">
                <input asp-for="RememberMe" class="form-input" type="checkbox" />
            </div>
        </div>

        @* Login button *@
        <div class="form-field flex">
            <div class="w-25"></div>
            <div class="flex-1">
                <button class="button button-green-back" type="submit">Login</button>

                <div asp-validation-summary="All" class="text-red"></div>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
